02-week/homework_02/homework_02.yaml
d: homework_02
namespace: zoomcamp
description: |
  Load NYC Taxi data into Postgres for all months of a selected year.

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: yellow

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020", "2021"]
    defaults: "2020"

variables:
  #months: ["01","02","03","04","05","06","07","08","09","10","11","12"]
  # months: ["09","10","11","12"]
  months: ["03"]
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"
  table: "public.{{inputs.taxi}}_tripdata"

tasks:

  - id: for_each_month
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ vars.months }}"
    tasks:
      
      - id: set_label
        type: io.kestra.plugin.core.execution.Labels
        labels:
          taxi: "{{ inputs.taxi }}"
          month: "{{ taskrun.value }}"

      - id: set_vars
        type: io.kestra.plugin.core.execution.SetVariables
        variables:
          month: "{{ taskrun.value }}"

      # ================= YELLOW =================
      - id: if_yellow_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'yellow'}}"
        then:
          - id: yellow_extract
            type: io.kestra.plugin.scripts.shell.Commands
            outputFiles:
              - "data.csv"
            taskRunner:
              type: io.kestra.plugin.core.runner.Process
            commands:
              - >
                wget -qO-
                https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{ inputs.taxi }}/{{ inputs.taxi }}_tripdata_{{ inputs.year }}-{{ vars.month }}.csv.gz
                | gunzip
                > data.csv

          - id: yellow_create_tables
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
                unique_row_id text,
                filename text,
                VendorID text,
                tpep_pickup_datetime timestamp,
                tpep_dropoff_datetime timestamp,
                passenger_count integer,
                trip_distance double precision,
                RatecodeID text,
                store_and_fwd_flag text,
                PULocationID text,
                DOLocationID text,
                payment_type integer,
                fare_amount double precision,
                extra double precision,
                mta_tax double precision,
                tip_amount double precision,
                tolls_amount double precision,
                improvement_surcharge double precision,
                total_amount double precision,
                congestion_surcharge double precision
              );

              CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (LIKE {{render(vars.table)}});

              TRUNCATE TABLE {{render(vars.staging_table)}};

          - id: yellow_copy_in_to_staging_table
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            from: "{{ outputs.yellow_extract[vars.month].outputFiles['data.csv'] }}"
            table: "{{ render(vars.staging_table) }}"
            format: CSV
            header: true
            columns: [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]

          - id: yellow_enrich
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              UPDATE {{render(vars.staging_table)}}
              SET
                unique_row_id = md5(
                  VendorID || tpep_pickup_datetime || tpep_dropoff_datetime ||
                  COALESCE(PULocationID,'') || COALESCE(DOLocationID,'')
                ),
                filename = '{{inputs.taxi}}_tripdata_{{inputs.year}}-{{vars.month}}.csv';

          - id: yellow_merge
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              INSERT INTO {{render(vars.table)}}
              SELECT * FROM {{render(vars.staging_table)}};
              
            #  INSERT INTO {{render(vars.table)}}
            #  SELECT * FROM {{render(vars.staging_table)}} s
            #  WHERE NOT EXISTS (
            #    SELECT 1 FROM {{render(vars.table)}} t 
            #    WHERE t.unique_row_id = s.unique_row_id
            #  );


      # ================= GREEN =================
      - id: if_green_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'green'}}"
        then:
          - id: green_extract
            type: io.kestra.plugin.scripts.shell.Commands
            outputFiles:
              - "data.csv"
            taskRunner:
              type: io.kestra.plugin.core.runner.Process
            commands:
              - >
                wget -qO-
                https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{ inputs.taxi }}/{{ inputs.taxi }}_tripdata_{{ inputs.year }}-{{ vars.month }}.csv.gz
                | gunzip
                > data.csv

          - id: green_create_tables
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
                unique_row_id text,
                filename text,
                VendorID text,
                lpep_pickup_datetime timestamp,
                lpep_dropoff_datetime timestamp,
                store_and_fwd_flag text,
                RatecodeID text,
                PULocationID text,
                DOLocationID text,
                passenger_count integer,
                trip_distance double precision,
                fare_amount double precision,
                extra double precision,
                mta_tax double precision,
                tip_amount double precision,
                tolls_amount double precision,
                ehail_fee double precision,
                improvement_surcharge double precision,
                total_amount double precision,
                payment_type integer,
                trip_type integer,
                congestion_surcharge double precision
              );

              DROP TABLE IF EXISTS {{render(vars.staging_table)}};
                
              CREATE TABLE {{render(vars.staging_table)}} (LIKE {{render(vars.table)}});





          - id: green_copy_in_to_staging_table
            type: io.kestra.plugin.jdbc.postgresql.CopyIn
            from: "{{ outputs.green_extract[vars.month].outputFiles['data.csv'] }}"
            table: "{{ render(vars.staging_table) }}"
            format: CSV
            header: true
            columns: [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]


          - id: green_enrich
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
                UPDATE {{render(vars.staging_table)}}
                SET
                  unique_row_id = md5(
                  VendorID || lpep_pickup_datetime || lpep_dropoff_datetime ||
                  COALESCE(PULocationID,'') || COALESCE(DOLocationID,'')
                   ),
                filename = '{{inputs.taxi}}_tripdata_{{inputs.year}}-{{vars.month}}.csv';


          - id: green_merge
            type: io.kestra.plugin.jdbc.postgresql.Queries
            sql: |
              INSERT INTO {{render(vars.table)}}
              SELECT * FROM {{render(vars.staging_table)}};

            #  INSERT INTO {{render(vars.table)}}
            #  SELECT * FROM {{render(vars.staging_table)}} s
            #  WHERE NOT EXISTS (
            #    SELECT 1 FROM {{render(vars.table)}} t 
            #    WHERE t.unique_row_id = s.unique_row_id
            #  );

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.jdbc.postgresql
    values:
      url: jdbc:postgresql://host.docker.internal:5432/nyc_taxi
      username: postgres
      password: postgres